.header, .hero, .body, .bar, .footer {
	background-color: hotpink;
	margin-bottom: 10px;
}

.box {
	margin: 10px 0;
	min-height: 80px;
	background-color: skyblue;
	font-size: 30px;
	color: black;
	border: 5px solid green;
}

.red {
	margin: 9px 0 0;
	background-color: red;
}